:root {
    --navbar-height: 56px;
    --color-dark-bg: rgb(41, 43, 51);
    --color-light-text: rgb(255, 255, 255);
    --color-link: lightblue;
    --color-section-head-bg: #616263;
}

body, html {
    height: 100%;
}

/* To make up for fixed-top navigation bar height */
body {
    padding-top: var(--navbar-height);
}

/* To make up for fixed-top navigation bar height while scrolling */
div {
    scroll-margin-top: calc(var(--navbar-height) - 1px);
}

/* Footer */
.footer {
    padding-top: 15px;
}

.footer > div > div {
    padding-left: 5%;
    padding-right: 5%;
}

.footer > div > div > svg {
    color: white;
}

.footer > div > div > a {
    color: var(--color-link);
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Section header */
.section-head {
    /* background-color: var(--color-dark-bg);
    color: white; */
    border-radius: 0;
}

@media (min-width: 1200px) {
    .section-head > p {
        font-size: 25px;
    }
}
@media (max-width: 1199.98px) {
    .section-head > p {
        font-size: 20px
    }
}
@media (max-width: 599.98px) {
    .section-head > p {
        font-size: 15px;
    }
}

/* Domu page styles */
.domu-bg {
    background-image: url("images/domu_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    overflow: hidden;
}

.domu-text {
    background-color: var(--color-dark-bg);
    color: var(--color-light-text);
    padding: 2%;
    margin-bottom: 2%;
}

@media (min-width: 1200px) {
    .domu-text > h1 {
        font-size: 70px;
    }
    .domu-text > p {
        font-size: 29px;
    }
    .domu-button > div > h3 {
        font-size: 40px;
    }
  }
@media (max-width: 1199.98px) {
    .domu-text > h1 {
        font-size: 50px;
    }
    .domu-text > p {
        font-size: 22px;
    }
    .domu-button > div > h3 {
        font-size: 30px;
    }
}
@media (max-width: 599.98px) {
    .domu-text > h1 {
        font-size: 30px;
    }
    .domu-text > p {
        font-size: 16px;
    }
    .domu-button > div > h3 {
        font-size: 20px;
    }
}

.domu-button {
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 2%;
    transition: 0.1s all ease-in-out;
}

.domu-button:hover {
    transform: scale(1.1);
}

.domu-button > div {
    position: absolute;
    width: 100%;
}

.domu-button > div > h3 {
    text-align: center;
    transform: translate(-15px, 5px);
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    user-select: none;
}

.domu-button > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius :5px;
}